.footerCss {
    background-color: rgb(175 193 217);
    height: 30px;
    position: fixed;
    width: 100%;
    bottom: 0px;
    margin-top: 10px;
   
}
.name {
    position: absolute;
    right: 0px;
    margin-right: 10px;
}